################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Riritia.Console/appsettings.json
/.vs/Riritia/v15/Server/sqlite3
/Riritia.Communicators.Irc/bin/Debug/netstandard2.0
/Riritia.Communicators.Irc/obj
/Riritia.Communicators.RemotePackager/bin/Debug/netstandard2.0
/Riritia.Communicators.RemotePackager/obj
/Riritia.Communicators.Voice/obj
/Riritia.Console/bin
/Riritia.Console/obj
/Riritia.Console/Riritia.Console.csproj.user
/Riritia.Core/bin/Debug/netstandard2.0
/Riritia.Core/obj
/Riritia.HumanInterface/bin/Debug/netstandard2.0
/Riritia.HumanInterface/obj
/Riritia.IdseConnection/bin/Debug/netstandard2.0
/Riritia.IdseConnection/obj
/Riritia.Interfaces/bin/Debug/netstandard2.0
/Riritia.Interfaces/obj
/Riritia.Purposes.HereToObserve/bin/Debug/netstandard2.0
/Riritia.Purposes.HereToObserve/obj
/Riritia.Purposes.Keyword/bin/Debug/netstandard2.0
/Riritia.Purposes.Keyword/obj
/Riritia.Purposes.WhatIs/bin/Debug/netstandard2.0
/Riritia.Purposes.WhatIs/obj
/.vs/Riritia/DesignTimeBuild
/.vs/Riritia/v15/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Riritia.Communicators.GameTranslator/obj
/Riritia.Communicators.MqttClient/bin/Debug/netstandard2.0
/Riritia.Communicators.MqttClient/obj
/Riritia.Mqtt.Server/bin/Debug/netcoreapp2.1
/Riritia.Mqtt.Server/obj
/Riritia.Purposes.GoogleTranslator/obj
/Riritia.Purposes.OpticalCharacterRecognition/obj
